<template>
  <div class="col-12">
    <div class="container">
      <div class="row">
        <div v-show="elegido != null" class="col-8 mx-auto">
          <iframe id="yt-frame" width="891" height="501" :src="url" frameborder="0" ></iframe>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    lista: [
      { src: 'oavMtUWDBTM?start=25' },
      { src: 'oGOtSrv5xdE' },
      { src: '-cZ7ndjhhps?t=11' },
      { src: 'am1_JLFDFMw?t=19' },
      { src: 'dQw4w9WgXcQ' },
      { src: 'FjMtM46IA3k' },
      { src: 'ZZ5LpwO-An4' },
      { src: 'y-SlgDnW-fk' },
      { src: 'dQw4w9WgXcQ' },
      { src: 'LA5x5q9WM2A?t=18' },
      { src: 'G1IbRujko-A' },
      { src: 'jLEHGKqQKQw' },
      { src: 'dQw4w9WgXcQ' },
      { src: 'D3-vBBQKOYU' },
      { src: '4feUSTS21-8' },
      { src: 'HAwFVibypVM?t=37' }
    ],
    elegido: null
  }),
  mounted () {
    this.elegido = Math.floor(Math.random() * this.lista.length)
    // this.url = 'https://www.youtube.com/embed/'+this.lista[this.elegido].src+'?autoplay=1&enablejsapi=1'
    this.url = 'https://www.youtube.com/watch?v='+this.lista[this.elegido].src+'?autoplay=1&enablejsapi=1'
    document.location.href = this.url
  },
  methods: {
  }
}
</script>
